body{
    margin:0px;
    /* background-color: black; */
}

/**********************************************
                NAVIGATION BAR
***********************************************/
nav {
    /* position: fixed; */
    top:0;
    left:0;
    width: 100%;
    height: 60px;
    background: black;
    padding: 0 100px;
    box-sizing: border-box;
}

nav .icon{
    width: 30%;
    /* filter: contrast(0.0); */
}

nav .brand {
    float: left;
    height: 100%;
    line-height: 70px;
}
nav .brand h2 {
    margin: 0;
    padding: 0;
    color: white;
}
nav ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    position: relative;
    display: block;
    height: 60px;
    line-height: 70px;
    padding: 0 10px;
    box-sizing: border-box;
    color:white;
    text-transform: uppercase;
}

@media (max-width: 740px) {
    nav ul {
        display: none;
    }
}


/**********************************************
                SECTION 1
***********************************************/

.section1 {
    background: linear-gradient( #000000, #4a45c1 ) ;
    display: flex;
    justify-content:space-around ;
    padding: 20px;
}

.section1__formcontainer{
    background-color: rgba(1,1,1, 0.2);
    border:none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px 20px;
    min-height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section1__formcontainer--title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1__formcontainer--title img{
    /* object-fit: cover; */
    /* object-position: 100px 100px; */
    object-fit: cover;
    object-position: 5px 0 ;
    width:  120px;
    height: 120px;
    border-radius: 100px;
}

.section1__formcontainer p {
    color: white;
    white-space: normal;
    /* margin: 50px 30px; */
    /* height: 130px; */
    text-align: justify;
    font-family: 'Red Rose';
    font-size: 12px;
}

/* .skills {
    width: 40%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
} */

/* .skilbox {
    box-sizing: border-box;
    width: 100%;
    margin:20px 0;
} */
.skillbox p{
    margin:0
}
.skill {
    background-color: black;
    border: 2px solid white;
    height: 10px;
    width: 100%;
    border-radius: 10px;
}
.skill_level{
    background-color: lime;
    height: 10px;
    border-radius: 10px;

}

.l90 { width:90%;}
.l80 { width:80%;}
.l50 { width:50%;}
.l40 { width:40%;}
.l30 { width:30%;}
.l20 { width:20%;}
.l10 { width:10%;}


/* .section1 h2 {
text-align: center;
color: white;
} */

/* .section1__imgcontainer p{
    color: white;
    text-align: right;
} */
/* .section1__container--form{
    display: flex;
    flex-direction: column;
} */

.SocialNetwork {
    display: flex;
    justify-content: space-around ;
    margin-top: 10px; 
}
.SocialNetwork a {
    width: 10%;
    height: 10%;
    
}

.input{
color: white;
background-color: transparent;
border-left: 0px;
border-top: 0px;
border-right: 0px;
border-bottom: 2px solid white;
font-family: 'Muli', sans-serif ;
font-size: 16px;
margin-bottom: 15px;
padding: 0px 20px;
outline: none;
height: 50px;
}
.button{
background-color: rgba(255,255,255, 0.1);
border:none;
border-radius: 25px;
color: white;
cursor: pointer;
font-size: 16px;
font-weight: bold;
font-family: 'Muli', sans-serif ;
height: 50px;
letter-spacing: 1px;
margin: 10px 0px;
}
/****************************************************************
                    Section 2
******************************************************************/

h1 {
margin: 0px;
color: white;
text-align: center;
background-color :  #4a45c1;
}

.Carousel {
/* width: 100%; */
overflow: scroll;
overflow-y: hidden;
padding: 10px;
position: relative;
background-color :  #4a45c1;
}

.Carousel::-webkit-scrollbar {
width: 10px;
background: transparent;
}

.Carousel__container {
white-space: nowrap;
padding-bottom: 10px;
}

.carousel-item{
display: inline-block;
background-color: rgba(255,255,255, 0.1);
width: 290px;
height: 550px;
border-radius: 20px;
overflow: hidden;
margin-right: 10px;
}

.Carousel p {
color: white;
white-space: normal;
margin: 50px 30px;
height: 130px;
text-align: justify;
font-family: 'Red Rose';
font-size: 12px;
}

.Carousel h2 {
margin-top: 20px ;
margin-bottom: 20px ;
text-align: center;
color: white;
}
.Carousel h3 {
margin-top: 10px ;
margin-bottom: 30px ;
text-align: center;
color: white;
}
.Carousel__container img{
border-radius: 20px;
height: 60px;
display: block;
margin: auto;
}
.Carousel__container iframe{
border-radius: 20px;
height: 150px;
width: 250px;
display: block;
margin: auto;
}

.Carousel__container--title{
text-align: center;
font-size: 16 ;
}
.Carousel__container--button{
background-color: rgba(255,255,255, 0.3);
border-radius: 25px;
color: white;
font-weight: bold;
font-family: 'Muli', sans-serif;
letter-spacing: 1px;
padding: 20px;
text-align: center;
display: block;
margin: 10px 80px;
}
a {
color: white;
}
